@import "./tailwind.css";

:root {
    --main-theme-color: #B44E09;
    --main-theme-text: white;
    --subtle-bg: #f3f4f6;
    --themed-bg: #0DA248;
    --themed-text: #B44E09;
    --themed-btn: #B44E09;
    --themed-btn-hover: #a74707;
}

* {
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica;
}

p {
    line-height: 1.5;
}

.image,
img {
    @apply rounded-lg;
}
.image {
    @apply bg-slate-200;

    img {
        @apply object-cover w-full h-full;
    }
}
